<div class="backdrop">
  <div id="shop-navigation"></div>
</div>
<script>
  CURRENT_USER = JSON.parse('<%= current_user.to_json(include: {:shop => {:include => :products}}, except: [:password_digest, :session_token]).html_safe %>');
  CURRENT_USER.shop = new EtsyClone.Models.Shop(CURRENT_USER.shop, {parse: true});
  CURRENT_ORDER = JSON.parse('<%= current_order.to_json(include: [:order_items]).html_safe %>');
  $(EtsyClone.initialize);
</script>
