<div class="backdrop">
  <div id="shop-navigation">
    <!-- <div id="your-shop">

      <ul>
        <h5>Shop</h5>
        <% if current_user.shop %>
          <li><a href="#/shops/<%= current_user.shop.id %>">View shop</a></li>
          <li><a href="#/shops/<%= current_user.shop.id %>/edit">Edit shop</a></li>
        <% else %>
          <li><a href="#/shops/new">Create shop</a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr> -->
  <!-- <div id="main">Main Backbone page</div> -->
</div>
<script>
  CURRENT_USER = JSON.parse('<%= current_user.to_json(include: [:shop], except: [:password_digest, :session_token]).html_safe %>');
  CURRENT_USER.shop = new EtsyClone.Models.Shop(CURRENT_USER.shop)
  $(EtsyClone.initialize);
</script>
