<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1><%= filepicker_image_tag @shop.shop_image, w: 160, h: 160, fit: 'clip' %>
      <%= @shop.name %></h1>
    <% @products.each do |product| %>
      <%= render "products/product_row", product: product, order_item: @order_item %>
    <% end %>
  </div>
</div>
