<div class="shopping-cart">
  <% if (order_items.length == 0) { %>
  <p class="text-center">
    There are no items in your shopping cart.  Please
    <a href='#'>go back</a>
    and add some items to your cart.
  </p>
  <% } else { %>
    <div class="order-item"></div>

  <div class="col-xs-12 text-right">
    <h4 class="text-right">Subtotal: <span style="color: green">$<%= order.subtotal().toFixed(2) %></span></h4>
    <h4 class="text-right">Shipping: <span style="color: green">$<%= parseFloat(order.escape("shipping")).toFixed(2) %></span></h4>
    <h4 class="text-right">Tax: <span style="color: green">$<%= order.tax().toFixed(2) %></span></h4>
    <h3 class="text-right">Total: <span style="color: green">$<%= order.total().toFixed(2) %></span></h3>
    <button class="btn btn-primary checkout">Checkout</button>
  </div>
  <% } %>

</div>
