<div id="your-shop">
  <div id="shop-navigation-list">
    <ul>
      <h5>Shop</h5>
        <% if (shop.id) { %>
        <li><a href="#/shops/<%= shop.id %>">View shop</a></li>
        <li><a href="#/shops/<%= shop.id %>/edit">Edit shop</a></li>
        <% } else { %>
          <li><a href="#/shops/new">Create shop</a></li>
        <% } %>
    </ul>
  </div>
  <div id="product-navigation-list">
    <ul>
      <% if (shop.id) { %>
      <h5>Product</h5>
      <li><a href="#/products/all">View products</a></li>
      <li><a href="#/products/new">Add product</a></li>
      <% } %>
    </ul>
  </div>
</div>
<hr>
