<div id="your-shop">
  <ul>
    <h5>Shop</h5>
      <% if (CURRENT_USER.shop.id) { %>
      <li><a href="#/shops/<%= CURRENT_USER.shop.id %>">View shop</a></li>
      <li><a href="#/shops/<%= CURRENT_USER.shop.id %>/edit">Edit shop</a></li>
      <% } else { %>
        <li><a href="#/shops/new">Create shop</a></li>
      <% } %>
  </ul>
</div>
<hr>
