<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1><img src="<%= shop.escape("shop_image") %>"
        width="150", height="150" >
        <%= shop.escape("name") %></h1>
  </div>
  <% if (shop.products().length == 1) { %>
    <div class="col-xs-6 col-xs-offset-3">
      <div class="product one-item"></div>
    </div>
  <% } else { %>
    <div class="col-xs-12 col-xs-offset-1">
      <div class="product"></div>
    </div>
  <% } %>
</div>
