<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1><img class="shop-image"
        src="<%= shop.escape("shop_image") %>"
        width="100", height="100">
      <%= shop.escape("name") %></h1>

      <div class="well">

        <div class="row">
          <div class="col-xs-7"></div>

          <div class="col-xs-5"></div>
        </div>
      </div>
  </div>
</div>
