<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1><img src="<%= shop.escape("shop_image") %>"
        width="150", height="150" >
        <%= shop.escape("name") %></h1>

      <div class="well">
        <div class="row">
          <div class="product"></div>
          <div class="form"></div>
        </div>
      </div>
  </div>
</div>
