<h3 class="text-center">All my purchases</h3>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% if (order_items.length == 0) { %>
    <p class="text-center not-found">
      You have never made a purchase.  Please
      <a href="#">go back</a>
      and add some items to your cart.
    </p>
    <% } else { %>
      <div class="order-item"></div>
    <% } %>
  </div>
</div>
