
  <h5 class="text-left">Unit Price:
    <span style="color: green">$<%= parseFloat(product.escape("price")).toFixed(2) %>
    </span>
  </h5>
  <div class="input-group add-to-cart">
    <form>
      <input type="number" class="form-control quantity" name='order_item[quantity]'
            id='order_item_quantity'
            min="1" max="12" value="1">
      <div class="input-group-btn">
        <input type="hidden" name='order_item[product_id]'
                id='order_item_product_id'
                value="<%= product.escape("id") %>" >
        <% if (CURRENT_USER.shop && CURRENT_USER.shop.id == product.escape("shop_id")) { %>
          <div class="disabled" title="You cannot add your own product to cart">
            <input
                type="submit" class="btn btn-primary btn-sm"
                value="Add to Cart" disabled></div>
        <% } else { %>
          <input type="submit" class="btn btn-primary btn-sm" value="Add to Cart">
        <% } %>
      </div>
    </form>
  </div>
