<div class="col-xs-5">
  <h4 class="text-right">Unit Price:
    <span style="color: green">$<%= product.escape("price") %></span>
  </h4>
  <div class="input-group">
    <form>
      <input type="number" class="form-control" name='order_item[quantity]'
            id='order_item_quantity'
            min="1" max="12" value="1" >
      <div class="input-group-btn">
        <input type="hidden" name='order_item[product_id]'
                id='order_item_product_id'
                value="<%= product.escape("id") %>" >
        <input type="submit" class="btn btn-primary" value="Add to Cart">
      </div>
    </form>
  </div>
</div>
