<div class="row">
  <div class="col-xs-12 col-xs-offset-1">
      <% if (products.length === 0) { %>
        <p class="text-center not-found">
          Sorry, there are no items matching your search criteria.
        </p>
      <% } else { %>
        <div class="product"></div>
      <% } %>
  </div>
</div>
