<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
      <div class="well">
        <div class="row">
          <div class="col-xs-7"></div>
          <div class="col-xs-5"></div>
        </div>
      </div>
  </div>
</div>
