<div class="shop-management"></div>
<img class="product-show-image" src="<%= product.escape("product_image") %>" width="300", height:"300">
<div class="product-show-info">
<h3><%= product.escape("name") %></h3>
<p><strong>$<%= product.escape("price") %></strong> USD </p>
<p><%= product.escape("description") %></p>
</div>
