<img src="<%= product.escape("product_image") %>"
      width="150" height="150">
<h4><%= product.escape("name") %></h4>
<p>$<%= product.escape("price") %></strong> USD </p>
<p><%= product.escape("description") %></p>
