/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

hr {
  clear: both
}

#shop-navigation {
  min-width: 1200px;
}

.shop-image {
  border-radius: 5px;
}

.cart-image {
  float: left;
  border-radius: 5px;
  margin-right: 10px;
}

.shop-form-image {
  border-radius: 5px;
  margin-right: 10px;
}

.shop-submit {
  margin-top: 10px;
}

.product-show-image {
  float: left;
  margin: 10px;
  border: 1px solid lightgray;
}

.product-show-info {
  float: left;
  margin: 10px;
  border: 5px solid orange;
  padding: 10px;
}

.product-item-wrapper {
  width: 930px;
}

.product-item {
  float: left;
  width: 250px;
  border: 1px solid lightgray;
  padding: 5px;
  margin: 10px;
  background-color: #E3E1CC;
}

.product-price {
  display: inline;
}

.edit-product {
  float: right;
}

a.nav-link {
  color: black;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

a.nav-link:hover {
  background-color: #f5f5f5;
}

.cart-text-backbone {
  text-decoration: none;
  margin-top: 8px;
}

input.quantity {
  width: 70px !important;
  height: 30px;
}

.edit-link {
  font-size: 1em;
}

.product-well {
  float: left;
  width: 40%;
  margin: 15px;
  height: 250px;
}

.one-item .product-well {
  width: 100%;
  margin: 0;
  height: 200px;
}

.one-item .product-well .add-to-cart {
  margin-left: 50px;
}

#bg:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background-image: url("https://www.filepicker.io/api/file/21IeZLkDQtC6U2MltqN9");
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.signin-signup {
  margin-top: 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.not-found {
  font-size: 2em;
}

.product-name {
  font-family: "Guardian-EgypTT",Arial,sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.description-text {
  font-family: "Guardian-EgypTT-Text",Georgia,serif;
  font-weight: 400;
}

.edit-product-link {
  font-family: "Guardian-EgypTT-Text",Georgia,serif;
  text-align: left;
  margin-top: 5px;
}
