/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

hr {
  clear: both
}

.shop-image {
  margin: 5px 10px;
  border-radius: 5px;
  float: left;
}

.shop-form-image {
  border-radius: 5px;
  margin-right: 10px;
}

.shop-submit {
  margin-top: 10px;
}

#shop-navigation-list {
  float: left;
  padding: 0 5px;
}

#product-navigation-list {
  float: left;
}

.product-show-image {
  float: left;
  margin: 10px;
  border: 1px solid lightgray;
}

.product-show-info {
  float: left;
  margin: 10px;
  border: 5px solid orange;
  padding: 10px;
}

.product-item-wrapper {
  width: 930px;
}

.product-item {
  float: left;
  width: 250px;
  border: 1px solid lightgray;
  padding: 5px;
  margin: 10px;
  background-color: #E3E1CC;
}

.product-price {
  display: inline;
}

.edit-product {
  float: right;
}
